In [2]:
import pandas as pd

data = {
    "LotArea": [8450, 9600, 11250, 9550, 14260],
    "OverallQual": [7, 6, 7, 7, 8],
    "YearBuilt": [2003, 1976, 2001, 1915, 2000],
    "GrLivArea": [1710, 1262, 1786, 1717, 2198],
    "BedroomAbvGr": [3, 3, 3, 3, 4],
    "SalePrice": [208500, 181500, 223500, 140000, 250000]
}

df = pd.DataFrame(data)
df.to_csv("data.csv", index=False)

print("data.csv created")

data.csv created

In [3]:
df = pd.read_csv("data.csv")
print(df.shape)
df.head()

(5, 6)

   LotArea  OverallQual  YearBuilt  GrLivArea  BedroomAbvGr  SalePrice
0     8450            7       2003       1710             3     208500
1     9600            6       1976       1262             3     181500
2    11250            7       2001       1786             3     223500
3     9550            7       1915       1717             3     140000
4    14260            8       2000       2198             4     250000